################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.build*
*.publish.xml
*.cache
*.log
.vscode/
